section{
    .container{
        .row-8{
            margin-top: 65px;
            .col-sm-4{
                p{
                    @extend .font-style;
                    font-size: 14px;
                }
                img{
                    height: 42px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
/********************************************  Small Size     *********************************************/
@media all and (max-width:768px){
  section{
    .container{
      .row-8{
        .col-sm-4{
          img{
            height: 27px;
          }
        }
      }
    }
  }
}
